* {
  font-family: 'Raleway', sans-serif;
}

header {
  margin-top: 20px;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(202, 255, 180);
}
/* header */
.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-timer {
  font-weight: 700;
  font-size: 60px;
}

/* arrows */
.arrow {
  font-size: 400px;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;

}

.red-arrow {
  color: #fe7777;
}

.blue-arrow {
  color: #89caf9;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.arrow-div {
  display: flex;
  justify-content: space-around;
}

.white-background-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  width: 430px;
  height: 430px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.start-button-wrapper {
  display: flex;
  justify-content: center;
}

.start-button {
  font-size: 50px;
  background-color: rgb(255, 171, 83);
  color:white;
  padding: 3px 100px;
  border-radius: 50px;
  cursor: pointer;
}

.correct-answer {
  transform: scale(1.07, 1.07);
  transition: transform 140ms ease-out
}

.incorrect-answer {
  animation: shake .08s ease 0s infinite;
}

@keyframes shake {
  0% {transform: translate(-17px,0px)};
  33% {transform: translate(17px,0px)};
  66% {transform: translate(-17px,0px)};
  100% {transform: translate(17px,0px)};
}

/*game-header*/
/*.game-header {
  width: 100%;
  background-color: rgba(70, 254, 161, 0.8);
}*/
