* {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

header {
  margin-top: 20px;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  /*background-color: rgb(202, 255, 180);*/
  background-image: url("http://res.cloudinary.com/dhsavotqt/image/upload/v1507219594/Mint_1_i2n1nv.png");
  background-repeat: no-repeat;
  background-size: 109%;
}

img {
  /*transform: rotate(180deg);*/
}

/* header */
.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-timer {
  font-weight: 900;
  font-size: 80px;
}

.player {
  font-size: 35px;
}

.score-div {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p1-score, .p2-score {
  font-size: 80px;
}

/* arrows */
.arrow {
  font-size: 400px;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;

}

.red-arrow {
  color: #fe7777;
}

.blue-arrow {
  color: #89caf9;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.arrow-div {
  display: flex;
  justify-content: space-around;
}

.white-background-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  width: 400px;
  height: 400px;
}

.instructions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 14%;
  margin-right: 15%;
}


.left-cursor-pointer, .right-cursor-pointer{
  position: fixed;
  width: 40px;
  z-index: 1;
  bottom: 23%;
  animation: press-down 3s ease-in-out 0s infinite
}

.left-cursor-pointer {
}

.right-cursor-pointer {
  right: 15.5%;
}

.directional-keys {
  transform: none;
}

@keyframes press-down {
  0% {transform: translateY(0%)};
  100% {transform: translateY(100px)};
}

.directional-keys {
  width: 150px;
}

.written-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
}

.start-button-wrapper {
  display: flex;
  justify-content: center;
  /*heightw: 101px;*/
}

.start-button {
  font-size: 50px;
  background-color: rgb(255, 171, 83);
  color:white;
  padding: 3px 100px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 2.5px #888888;
  margin-top: 18px;
  margin-bottom: 18px;
}

.start-button:hover {
  background-color: rgba(215, 143, 68, 0.89);
}

.correct-answer {
  transform: scale(1.07, 1.07);
  transition: transform 140ms ease-out
}

.incorrect-answer {
  animation: shake .08s ease 0s infinite;
}

@keyframes shake {
  0% {transform: translate(-17px,0px)};
  33% {transform: translate(17px,0px)};
  66% {transform: translate(-17px,0px)};
  100% {transform: translate(17px,0px)};
}
