/* arrows */
.red-arrow, .blue-arrow {
  font-size: 400px;
}

.red-arrow {
  color: #fe7777;
}

.blue-arrow {
  color: #89caf9;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.arrow-div {
  display: flex;
}
